.row.mt-5(style="width:100%;")
    .col-12.align-items-center.justify-content-center
        hr.d-none
        h1#resumenHistorico.col-12.text-center.mt-5.pt-5
            b Resumen historico
        .row.align-items-center.justify-content-center
            .col-sm-12.col-md-6
                ul
                    li
                        span Desde los 13 a 15 años (2009-2011), conocí Blogger, Jimdo y Foro Activo. Dedicandome a crear Blogs con Blogger.
                    li
                        span Desde los 15 a 16 años (2011-2012), creé Blogs y comunidades, con: Wordpress, PHPost y Blogger. Ademas participe con mi hermano, en aportar ideas para la creación de un juego para android creado con Unity3D.
                    li
                        span Entre los 17 a 18 años (2015), creé micro proyectos en C++ solicitados en la universidad.
                    li
                        span Entre los 18 a 19 años (2016), participe en el desarrollo de un proyecto para "Gestión de Obras musicales" en la universidad, por medio de una apliación web.
                    li
                        span A los 19 años (2016), participe en el desarrollo de un proyecto para "Gestión interna del Hospital Niño Jesus de San Felipe" en la universidad, por medio de una aplicación de escritorio.
                    li
                        span Entre los 19 y 20 años (2016), tuvo lugar mi primer trabajo empresarial participando en el desarrollo de una aplicacion movil, para un proyecto de asistencia y atencción al cliente por Geolocalización.
                    li
                        span Entre los 20 y 21 años (2017), terminando mis estudios universitarios desarrollé un sistema de gestion de insumos computacionales, de mantenimiento preventivo y correctivo para las computadoras de la universidad.
                    li  
                        span A los 21 años (2017-2018), fui el desarrollador, CEO y fundador de UEEVERSO. Una pagina web que estaba relacionado a la plataforma blockchain STEEM.
                    li 
                        span A los 21 años (2018), comence a desarrollar una app movil "juego de cartas online" para android, llamado Caida Online.
                    li
                        span A los 21 años (2018), Trabajar en la empresa SISTEMEX, con una aplicacion movil hibrida para android llamada Red Concreta.
                    li
                        span Entre los 21 y 22 años (2018-2019), trabajé en una EMPRESA ANONIMA, con una aplicación web.
                    li
                        span A los 22 años (2019), trabajé en CONECTBUY, en una aplicación movil hibrida llamada CONECTBUY.
                    li
                        span Entre los 22 y 23 años (2020), trabajar en Techno Global Inc., en la aplicación movil hibrida para el proyecto WORTIX.
                    li 
                        span A los 24 años (2020), termine de desarrollar la app movil "juego de cartas online" para android, llamado Caida Online y estara saliendo en su momento al mercado, sin que interfiera en mis ocupaciones laborales.
                    li
                        span Actualmente con 24 años (2021), Estoy en la busqueda de una oportunidad laboral que me permita seguir creciendo y generar ingresos.



.row.mt-5(style="width:100%;")
    .col-12
        hr.d-none
        h1#historia.col-12.text-center.mt-5.pt-5
            b Historia
a.row.align-items-center.justify-content-center.mb-5(href="https://www.linkedin.com/pulse/tus-sue%25C3%25B1os-siempre-tendr%25C3%25A1n-un-comienzo-solo-debes-crecer-ordo%25C3%25B1ez-o", target="_blank")
    .mb-4.col-sm-12.col-md-3.align-items-center.justify-content-center.d-flex
        .btn.btn-default.btn-block.align-items-center.justify-content-center(style="color:  white;width: 250px;height: 250px;border-radius: 50%;background: #e3e8f10f;padding: 35px;")
            i.fas.fa-calendar-alt(style="font-size: 100px;")
            br
            br
            h4 Historia de crecimiento
    .col-md-6.col-ms-12.pr-4
        h3.text-center(style="color:#ffffff66;") Tus sueños siempre tendrán un comienzo: Solo debes permitirte crecer

a.row.align-items-center.justify-content-center.mb-5(href="https://www.linkedin.com/pulse/mi-setup-para-el-desarrollo-de-software-historia-ordo%25C3%25B1ez-o/", target="_blank") 
    .col-md-6.col-ms-12.d-none.d-sm-block.pr-4
        h3.text-center(style="color:#ffffff66;") Mi SETUP para el desarrollo de software : Estafa - Denuncias - Colapsos electrónicos - Crecimiento

    .mb-4.col-sm-12.col-md-3.align-items-center.justify-content-center.d-flex
        .btn.btn-default.btn-block.align-items-center.justify-content-center(style="color:  white;width: 250px;height: 250px;border-radius: 50%;background: #e3e8f10f;padding: 35px;")
            //i.fas.fa-book-reader(style="font-size: 100px;")
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                <path d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </svg>
            br
            br
            h4 Historia de superación
    .col-md-6.col-ms-12.d-block.d-sm-none.pr-4
        h3.text-center(style="color:#ffffff66;") Mi SETUP para el desarrollo de software : Estafa - Denuncias - Colapsos electrónicos - Crecimiento
