.row.mt-5
    .col-12
        h1.text-center
            b Empleos destacados
        #empleos_destacados.proyectos-contenido.col-12.mt-1.row.p-5.justify-content-center

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;")
                    .card.align-items-center.d-flex.contenedor_proyecto
                        span ITEXON, España.
                        .content_img_logo(style="height:150px;width:100%;display: flex;justify-content: center;align-content: center;align-items: center;background-color: white;")
                            img.card-img-top(src="/img/logo_itexon.jpeg" style="border-radius:5px;background: white !important;padding: 20px 5px;height: 150px;width: 150px;")  
                        span Desarrollador Frontend

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;")
                    .card.align-items-center.d-flex.contenedor_proyecto
                        span INGYDEV, Chile.
                        .content_img_logo(style="height:150px;width:100%;display: flex;justify-content: center;align-content: center;align-items: center;background-color: white;")                        
                            img.card-img-top(src="/img/logo_ingydev.jpeg" style="border-radius:5px;background: white !important;padding: 20px 5px;height: 150px;width: 150px;")  
                        label.w-100.text-center Desarrollador full stack & DEVOPS

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://play.google.com/store/apps/details?id=com.wortix.WortixAPP&hl=es_VE" target="_blank" style="color:white !important;")
                    .card.align-items-center.d-flex.contenedor_proyecto
                        span Techno Global Inc, México.
                        .content_img_logo(style="height:150px;width:100%;display: flex;justify-content: center;align-content: center;align-items: center;background-color: white;")
                            img.card-img-top(src="/img/wortix.png" style="border-radius:5px;background: white !important;padding: 20px 5px;height: 150px;width: 150px;")
                        label.w-100.text-center Desarrollador movil

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;padding: 0px;").card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                    label.w-100.text-center EMPRESA ANONIMA, 
                    label.w-100.text-center Estados Unidos.
                    br
                    span APP WEB EMAIL MARKETING
                    br
                    label.w-100.text-center Desarrollador full stack & DEVOPS

            .proyecto-item.align-items-center.justify-content-center.col-4.col-md-2.mb-2.p-1
                a(href="https://play.google.com/store/apps/details?id=sistemex.redconcreta" target="_blank" style="color:white !important;")
                    .card.align-items-center.d-flex.contenedor_proyecto
                        span SISTEMEX, México.
                        .content_img_logo(style="height:150px;width:100%;display: flex;justify-content: center;align-content: center;align-items: center;background-color: white;")
                            img.card-img-top(src="/img/RED_CONCRETA.png" style="border-radius:5px;")
                        label.w-100.text-center Desarrollador movil