#cabecera-home.row.m-ms-0(style='padding-top:0px;padding-bottom:  36px;/*background: #057fb3;*/')
    .col-md-12.col-ms-12.p-0.m-0
        .row
            #cabecera-home-contenido.col-md-12.pl-md-5.pt-5
                .row
                    .col-md-6.d-flex.align-items-center.justify-content-center.justify-content-md-end
                        center
                            img(width='400',height='400',src='/img/logo_perfil.jpg',style='border-radius: 50%;box-shadow: 0px 0px 0px 11px #e3e8f10f;')
                    .col-md-6.pt-4.d-flex.align-items-center.justify-content-center.justify-content-md-start
                        div.text-center.text-md-left
                            h1 Ing. Francisco Ordoñez 
                            
                            textarea#textExample(cols="60",disabled,style="width: 478px; height: 120px;border: 0px;resize: none;background: #ffffff00;color: white;").pl-5.pr-4.text-justify.pl-md-3.pr-md-5 Soy Francisco Ordoñez, Ingeniero informático especializado en el desarrollo de software y Marketing. Tuve el gusto de comenzar a los 13 años de edad en la informática, a los 21 conseguí ser ingeniero en el área y a los 25 Senior con JavaScript.
                            div#iconosSociales.mt-3
                                a(href="https://www.linkedin.com/in/opoinffrancisco/",target="_blank") 
                                    i.fab.fa-linkedin
                                a(href="https://github.com/opoinffrancisco/",target="_blank") 
                                    i.fab.fa-github-square                  
                                a(href="https://www.youtube.com/channel/UC9Ga-r6gz5hQZFqL9JznmZw",target="_blank") 
                                    i.fab.fa-youtube-square
                                a(href="https://www.instagram.com/opoinf_/",target="_blank") 
                                    i.fab.fa-instagram
                                a(href="https://twitter.com/opoinffrancisco",target="_blank") 
                                    i.fab.fa-twitter-square
                                //a(href="https://www.facebook.com/opoinf.francisco/",target="_blank") 
                                    i.fab.fa-facebook
                                a(href="https://play.google.com/store/apps/dev?id=8450038625758913569",target="_blank") 
                                    i.fab.fa-google-play
                                    
                            div
                                i.fas.fa-at
                                span   ing.francisco.ordonez@gmail.com

