.row.w-100.align-items-center.justify-content-center
    a.pr-ms-3.mb-3.col-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irProyectos();")
        .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-principales
            i.fas.fa-cubes
            br
            br
            label Proyectos
            
    a.pr-ms-3.mb-3.col-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irConocimientos();")
        .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-principales
            i.fas.fa-book-reader
            br
            br
            label Conocimientos

    a.pr-ms-3.mb-3.col-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irPerfilLaboral();")
        .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-principales
            i.far.fa-id-card   
            br
            br
            label Perfil laboral
                        
    a.pr-ms-3.mb-3.col-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irResumenHistorico();")
        .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-principales
            i.fas.fa-file-medical-alt
            br
            br
            label Resumen historico


    a.pr-ms-3.mb-3.col-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irHistoria();")
        .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-principales
            i.fas.fa-history
            br
            br
            label Historia
                        


#OpcionesFlotantes.row
    .col-auto
        a.pr-ms-3.mb-3.col-sm-6.col-md-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irProyectos();")
            .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-opciones-flotantes
                i.fas.fa-cubes
                br
                br
                span Proyectos
                
        a.pr-ms-3.mb-3.col-sm-6.col-md-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irConocimientos();")
            .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-opciones-flotantes
                i.fas.fa-book-reader
                br
                br
                span Conocimientos

        a.pr-ms-3.mb-3.col-sm-6.col-md-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irPerfilLaboral();")
            .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-opciones-flotantes
                i.far.fa-id-card     
                br
                br
                span Perfil laboral
                            
        a.pr-ms-3.mb-3.col-sm-6.col-md-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irResumenHistorico();")
            .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-opciones-flotantes
                i.fas.fa-file-medical-alt
                br
                br
                span Resumen historico


        a.pr-ms-3.mb-3.col-sm-6.col-md-auto.align-items-center.justify-content-center.d-flex(onClick="javascript:irHistoria();")
            .btn.btn-default.btn-block.align-items-center.justify-content-center.btn-opciones-flotantes
                i.fas.fa-history
                br
                br
                span Historia        