#mostrar-opcionesflotantes.w-100.mt-5
    .col-12
        h1#proyectos.text-center.mt-5.pt-5
            b Proyectos destacados
        .mt-5.row.justify-content-center

            #slideCAIDAONLINE.col-6.mb-2.p-0.align-items-center.justify-content-center.proyecto-item(style="animation-duration: 3s;animation-name: slideCAIDAONLINE;")
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto(style="background-image: url('/img/caida.png');background-size: auto;background-repeat: round;")
                    .p-3.h-100(style="display: flex;align-items: center;justify-content: center;flex-direction: column;")
                        span Caida Online
                        br
                        span FUNDADOR, CEO y D.S.
                        br
                        label.w-100.text-center Desarrollador full stack & DEVOPS & Movil 

            #slideUNEEVERSO.col-6.mb-2.p-0.align-items-center.justify-content-center.proyecto-item(style="animation-duration: 3s;animation-name: slideUNEEVERSO;")
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto(style="background-image:url('/img/marketing-uneeverso-956x538.gif');background-size: auto;background-repeat: round;")
                    .p-3.h-100(style="display: flex;align-items: center;justify-content: center;flex-direction: column;")
                        span UNEEVERSO
                        br
                        span FUNDADOR, CEO y D.S.
                        br
                        label.w-100.text-center Desarrollador full stack & DEVOPS