#mostrar-opcionesflotantes.row.mt-5
    .col-12
        h1.text-center
            b Empleos destacados
        .proyectos-contenido.col-12.mt-1.row.p-5.justify-content-center

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;")
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                        span ITEXON, España.
                        img.card-img-top(src="/img/logo_itexon.png" style="border-radius:5px;background: white !important;padding: 5px;")  
                        span Desarrollador Frontend

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;")
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                        span INGYDEV, Chile.
                        img.card-img-top(src="/img/logo_ingydev.png" style="border-radius:5px;background: white !important;padding: 5px;")  
                        span Desarrollador full stack & DEVOPS

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://play.google.com/store/apps/details?id=com.wortix.WortixAPP&hl=es_VE" target="_blank" style="color:white !important;")
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                        span Techno Global Inc, México.
                        img.card-img-top(src="/img/wortix.png" style="border-radius:5px;background: white !important;padding: 5px;")  

            .col-4.col-md-2.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                a(href="https://www.linkedin.com/in/opoinffrancisco/details/experience/" target="_blank" style="color:white !important;").card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                    label.w-100.text-center EMPRESA ANONIMA, Estados Unidos.
                    br
                    span APP WEB EMAIL MARKETING

            .proyecto-item.align-items-center.justify-content-center.col-4.col-md-2.mb-2.p-1
                a(href="https://play.google.com/store/apps/details?id=sistemex.redconcreta" target="_blank" style="color:white !important;")
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto
                        span SISTEMEX, México.
                        img.card-img-top(src="/img/RED_CONCRETA.png" style="border-radius:5px;")