#mostrar-opcionesflotantes.w-100.mt-5
    .col-12
        h1#proyectos.text-center.mt-5.pt-5
            b Proyectos destacados
        #proyectos_destacados.mt-5.justify-content-center.row.m-0

            #slideCAIDAONLINE.col-12.col-md-6.mb-2.p-0.align-items-center.justify-content-center.proyecto-item
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.proyectos_destacados_img(style="background-image: url('/img/caida.png');background-size: auto;background-repeat: round;")
                    .p-3.h-100(style="display: flex;align-items: center;justify-content: center;flex-direction: column;")
                        span.w-100.text-center Caida Online
                        br
                        span.w-100.text-center FUNDADOR, CEO y D.S.
                        br
                        label.w-100.text-center Desarrollador full stack & DEVOPS & Movil 

            #slideUNEEVERSO.col-12.col-md-6.mb-2.p-0.align-items-center.justify-content-center.proyecto-item
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.proyectos_destacados_img(style="background-image:url('/img/marketing-uneeverso-956x538.gif');background-size: auto;background-repeat: round;")
                    .p-3.h-100(style="display: flex;align-items: center;justify-content: center;flex-direction: column;")
                        span.w-100.text-center UNEEVERSO
                        br
                        span.w-100.text-center FUNDADOR, CEO y D.S.
                        br
                        label.w-100.text-center Desarrollador full stack & DEVOPS