#mostrar-opcionesflotantes.w-100
    .col-12
        h1#proyectos.text-center.mt-5.pt-5
            b Proyectos destacados
        .mt-1.row.p-5.justify-content-center

            .col-6.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto(style="background-image: url('/img/caida.png');background-size: auto;background-repeat: round;")
                    .p-3
                        span FUNDADOR, CEO y D.S.
                        br
                        span Caida Online

            .col-6.mb-2.p-1.align-items-center.justify-content-center.proyecto-item
                .contenedor_proyectos
                    .card.align-items-center.justify-content-center.d-flex.contenedor_proyecto(style="background-image:url('/img/marketing-uneeverso-956x538.gif');background-size: auto;background-repeat: round;")
                    .p-3
                        span FUNDADOR, CEO y D.S.
                        br
                        span UNEEVERSO

        #modal_conocimientos.modal.fade.bs-example-modal-lg(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-label="Close")
                    span(aria-hidden="true") x
                        //&times
                    center
                    h1#gridSystemModalLabel.modal-title  
                        span.label.label-default Conocimientos
                .modal-body
                    h3  
                    span.label.label-default Lenguajes de desarrollo de software
                    table.table.table-bordered
                    thead
                        tr.row
                        td.col-md-3
                            b Lenguaje de desarrollo
                        td.col-md-4
                            b Nivel
                        td.col-md-5
                            b Herramientas
                    tbody
                        tr.row
                        td.col-md-3
                            span C
                        td.col-md-4
                            span Básico
                        td.col-md-5
                        tr.row
                        td.col-md-3
                            span XML
                        td.col-md-4
                            span Intermedio
                        td.col-md-5
                        tr.row
                        td.col-md-3
                            span HTML 5
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span Bootstrap 3.3.7
                            li
                                span bootstrap-select
                            li
                                span Jade
                        tr.row
                        td.col-md-3
                            span CSS 3
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span Bootstrap 3.3.7
                        tr.row
                        td.col-md-3
                            span Java
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span iReport
                        tr.row
                        td.col-md-3
                            span JavaFX
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            
                        tr.row
                        td.col-md-3
                            span JavaScript
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span JQuery
                            li
                                span Bootstrap 3.3.7
                            li
                                span Alertify.js
                            li
                                span Morris
                            li
                                span Google-Charts
                        tr.row
                        td.col-md-3
                            span NodeJs
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span Express
                            li
                                span steem-uneeverso-oficial (steem.js)
                            li
                                span moment-timezone
                            li
                                span node-fetch
                            li
                                span sqlite3
                            li
                                span express-session
                            li
                                span nodemailer
                            li
                                span crypto (Encriptación)
                        tr.row
                        td.col-md-3
                            span PHP (5.4 - 7.1)
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span Laravel 5.0
                            li
                                span PDO
                            li
                                span DOMPDF
                            li
                                span Php-jwt (Encriptación)
                        tr.row
                        td.col-md-3
                            span SQL
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                        tr.row
                        td.col-md-3
                            span PhoneGap
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            ul
                            li
                                span framework7 (App Movíl)
                            li
                                span JQuery
                            li
                                span JQuery movíl	
                    br
                    h3
                    span.label.label-default  Bases de datos
                    table.table.table-bordered
                    thead
                        tr.row
                        td.col-md-3
                            b Base de datos
                        td.col-md-4
                            b Nivel
                        td.col-md-5
                            b Herramientas
                    tbody
                        tr.row
                        td.col-md-3
                            span MySql/MariaDB
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            span phpMyAdmin
                        tr.row
                        td.col-md-3
                            span PostgreSQL
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            span pgAdmin
                        tr.row
                        td.col-md-3
                            span SQLite
                        td.col-md-4
                            span Avanzado
                        td.col-md-5
                            span SQLite Expert Personal
                    br
                    h3
                    span.label.label-default Sistemas de gestión de contenidos (CMS)
                    table.table.table-bordered
                    thead
                        tr.row
                        td.col-md-6
                            b CMS
                        td.col-md-6
                            b Nivel
                    tbody
                        tr.row
                        td.col-md-6
                            span Wordpress
                        td.col-md-6
                            span Avanzado
                        tr.row
                        td.col-md-6
                            span Blogger
                        td.col-md-6
                            span Avanzado
                        tr.row
                        td.col-md-6
                            span PHPost
                        td.col-md-6
                            span Avanzado
                    br
                    h3
                    span.label.label-default Entornos de desarrollo de software
                    table.table.table-bordered
                    thead
                        tr.row
                        td.col-md-6
                            b IDE'S
                        td.col-md-6
                            b Nivel
                    tbody
                        tr.row
                        td.col-md-6
                            span Sublime Text 3
                        td.col-md-6
                            span Avanzado
                        tr.row
                        td.col-md-6
                            span NetBeans
                        td.col-md-6
                            span Avanzado
                        tr.row
                        td.col-md-6
                            span Scene Builder
                        td.col-md-6
                            span Avanzado
                        tr.row
                        td.col-md-6
                            span Android Studio
                        td.col-md-6
                            span Intermedio
                    h3
                    span.label.label-default Metodologias de desarrollo de software
                    table.table.table-bordered
                    thead
                        tr.row
                        td.col-md-4
                            b Metodologia
                        td.col-md-4
                            b Tiempo de experiencia
                        td.col-md-4
                            b Proyectos
                    tbody
                        tr.row
                        td.col-md-4
                            span Iconix
                        td.col-md-4
                            span 2 Años
                        td.col-md-4
                            span 2
                        tr.row
                        td.col-md-4
                            span Rup
                        td.col-md-4
                            span 1 Año
                        td.col-md-4
                            span 1
                        tr.row
                        td.col-md-4
                            span Xp
                        td.col-md-4
                            span 1 Año
                        td.col-md-4
                            span 3								

        #appmovil_cloudsolutions.modal.fade.bs-example-modal-lg(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel", style="color:black;")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        button.close(type="button",data-dismiss="modal",aria-label="Close")
                        span(aria-hidden="true") x
                        //&times
                        center
                        h1#gridSystemModalLabel.modal-title  
                            span.label.label-default Desarrollador SemiSenior en cloudsolutions C.A
                    .modal-body
                        .panel.panel-default
                        .panel-heading
                            center
                            h3 
                            span.label.label-default    Oct 2016 - Dic 2016
                        .panel-body
                            h5 Durante este periodo se participo en el desarrollo de un proyecto de Geolocalización:
                            ul
                            li
                                span Desarrollando una aplicación movil con PhoneGap para Android, haciendo uso de Framework7 para Front-End.
                            li
                                span Desarrollo de API's con Laravel 5.0.
                            li
                                span Desarrollando formularios para la gestión de datos desde la aplicacion web, haciendo uso de Laravel 5.0 para Back-End y Bootstrap 3.3.7 para Front-End.
                            li
                                span Gestión de la sección de la base de datos SQL del proyecto asignado a participar.

        #modal_proyectos.modal.fade.bs-example-modal-lg(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                    button.close(type="button",data-dismiss="modal",aria-label="Close")
                        span(aria-hidden="true") x
                        //&times
                    center
                        h3#gridSystemModalLabel.modal-title Proyectos
                    .modal-body
                    .panel.panel-default
                        .panel-heading
                        center
                            h3 SIGMANSTEC 
                            span.label.label-default Enero 2017 - Noviembre 2017
                            h5 (Sistema de Información para la Gestión de Mantenimiento Correctivo y Preventivo  en la Unidad de Informática de la Universidad Politécnica Territorial de Yaracuy “Arístides Bastidas”)
                            
                        .panel-body
                        #carousel-example-generic_2.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                            li.active(data-target="#carousel-example-generic_1",data-slide-to="0")
                            li(data-target="#carousel-example-generic_1",data-slide-to="1")
                            li(data-target="#carousel-example-generic_1",data-slide-to="2")
                            li(data-target="#carousel-example-generic_1",data-slide-to="3")
                            li(data-target="#carousel-example-generic_1",data-slide-to="4")
                            li(data-target="#carousel-example-generic_1",data-slide-to="5")
                            .carousel-inner(role="listbox")
                            .item.active
                                center(style='height:  426px')
                                img(src="/img/logo_sigmanstec.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_1.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_2.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_3.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_4.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_5.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/sigmanstec_6.png",alt="",style="width:  100%;height:  100%;")

                            a.left.carousel-control(href="#carousel-example-generic_2",role="button",data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only Previous
                            a.right.carousel-control(href="#carousel-example-generic_2",role="button",data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only Next
                        br
                        ul
                            li
                            span <b>Técnolgias:</b> Php, JavaScript, Html 5, CSS 3, SQL.
                            li
                            span <b>Herramientas técnolgicas:</b> Bootstrap, Jquery, DOMPDF.
                            li
                            span <b>Complementos para la plataforma:</b> MariaDB, Apache, phpMyAdmin.
                            li
                            span <b>Entorno de desarrollo:</b> Sublime Text 3.
                            li
                            span <b>Estructura:</b> MVC.
                            li
                            span <b>Metodología:</b> ICONIX.
                    .panel.panel-default
                        .panel-heading
                        center
                            h3 Green Medical 
                            span.label.label-default Enero 2016 - Diciembre 2016
                            h5 (Sistema de Información para el Control de Insumos Médicos en los Servicios del Hospital  Pediátrico “FUNDACIÓN NIÑO JESÚS”, Municipio San Felipe, Estado Yaracuy)
                            
                        .panel-body
                        #carousel-example-generic_3.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                            li.active(data-target="#carousel-example-generic_3",data-slide-to="0")
                            li(data-target="#carousel-example-generic_3",data-slide-to="1")
                            li(data-target="#carousel-example-generic_3",data-slide-to="2")
                            li(data-target="#carousel-example-generic_3",data-slide-to="3")
                            li(data-target="#carousel-example-generic_3",data-slide-to="4")
                            li(data-target="#carousel-example-generic_3",data-slide-to="5")
                            li(data-target="#carousel-example-generic_3",data-slide-to="6")
                            li(data-target="#carousel-example-generic_3",data-slide-to="7")
                            li(data-target="#carousel-example-generic_3",data-slide-to="8")
                            .carousel-inner(role="listbox")
                            .item.active
                                center(style='height:  426px')
                                img(src="/img/logo_greenmedical_2.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_1.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_2.png",alt="",style="width:  100%;height:  100%;")
                                
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_3.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_4.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_5.png",alt="",style="width:  100%;height:  100%;")
                                
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_6.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_7.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/greenmedical_8.png",alt="",style="width:  100%;height:  100%;")
                                
                            a.left.carousel-control(href="#carousel-example-generic_3",role="button",data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only Previous
                            a.right.carousel-control(href="#carousel-example-generic_3",role="button",data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only Next
                        br
                        ul
                            li
                            span <b>Técnolgias:</b> Java, JavaFX, XML, CSS 3, PostgresSQL.
                            li
                            span <b>Herramientas técnolgicas:</b> Ireport.
                            li
                            span <b>Complementos para la plataforma:</b> Postgres.
                            li
                            span <b>Entorno de desarrollo:</b> NetBeans, SceneBuilder, iReport, pgAdmin.
                            li
                            span <b>Estructura:</b> MVC.
                            li
                            span <b>Metodología:</b> RUP.
                    .panel.panel-default
                        .panel-heading
                        center
                            h3 ROM 
                            span.label.label-default Enero 2015 - Diciembre 2015
                            h5 ( Registros de Obras Musicales)
                            
                        .panel-body
                        #carousel-example-generic_4.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                            li.active(data-target="#carousel-example-generic_1",data-slide-to="0")
                            li(data-target="#carousel-example-generic_1",data-slide-to="1")
                            li(data-target="#carousel-example-generic_1",data-slide-to="2")
                            li(data-target="#carousel-example-generic_1",data-slide-to="3")
                            .carousel-inner(role="listbox")
                            .item.active
                                center(style='height:  426px')
                                img(src="/img/logo_rom.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/rom_1.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/rom_2.png",alt="",style="width:  100%;height:  100%;")
                            .item
                                center(style='height:  426px')
                                img(src="/img/rom_3.png",alt="",style="width:  100%;height:  100%;")

                            a.left.carousel-control(href="#carousel-example-generic_4",role="button",data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only Previous
                            a.right.carousel-control(href="#carousel-example-generic_4",role="button",data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only Next
                        br
                        ul
                            li
                            span <b>Técnolgias:</b> Php, JavaScript, Html 5, CSS 3, SQL.
                            li
                            span <b>Herramientas técnolgicas:</b> Bootstrap, Jquery, DOMPDF.
                            li
                            span <b>Complementos para la plataforma:</b> MariaDB, Apache, phpMyAdmin.
                            li
                            span <b>Entorno de desarrollo:</b> Sublime Text 3.
                            li
                            span <b>Estructura:</b> MVC.
                            li
                            span <b>Metodología:</b> ICONIX.

