extends layout

block content
  body(class="d-flex flex-column w-100", style=" min-height: 100%;  position: absolute;")

   

    main(role="main", class="flex-shrink-0")
        .container

          .row.align-items-center.justify-content-center
            .col-md-3.col-ms-auto.row.align-items-center.justify-content-center
              img(src="/img/logo.png", style="width: 200px;height: 200px;")
            .col-md-6.col-ms-12
              h1(class="text-center")= title
            .col-md-3.col-ms-auto
          p.text-center Acuerdos de licencia de usuario final Versión 1.0, expedida en Diciembre 2020
          br

          h4 TÉRMINOS Y CONDICIONES DE USO, REPRODUCCIÓN Y DISTRIBUCIÓN
          br

          p(class="lead") 
            |     Por la presente licencia de Acuerdos de licencia de usuario final (ALUF) se deniega
            | el permiso a cualquier persona que obtenga una copia De este software y los archivos de
            | documentación asociados (el software llamado “Caida”), para tratar En el Software con
            | restricciones, incluidos, entre otros. Los derechos Usar, copiar, modificar, fusionar, publicar,
            | distribuir, sublicenciar y / o vender Copias del Software, y para permitir a las personas a las
            | que se les Amueblado para ello, sujeto a las siguientes condiciones.

          p(class="lead") 
            | El aviso de derechos de autor anterior deniega el permiso de copiar partes sustanciales
            | del código del software que se puedan usar para modificar de forma temporal o
            | permanente el código del software o la experiencia del usuario, ya sea en su equipo local o
            | en servidores que permitan el uso de cualquiera de las funciones del Juego. Para que usted
            | pueda realizar un uso completo del juego, se le podrán exigir ciertas medidas de seguridad,
            | incluyendo la necesidad de registrar el Juego con tu cuenta de Facebook y la necesidad de
            | disponer de un acceso continuo a Internet para la aceptación de las funciones de gestión de
            | derechos digitales y de seguridad, el hecho de no aceptar estas medidas de seguridad
            | podría limitar parcial o totalmente su uso del Juego.

          p(class="lead") 
            | El software no se proporciona, sin garantía de ningún tipo, expresa o Implícitas incluidas
            | pero limitadas a las garantías de comerciabilidad, En ningún caso Los autores o titulares de
            | los derechos de autor serán responsables de cualquier reclamo, daños u otros de
            | responsabilidad, ya sea en una acción de contrato, agravio o de otro modo, que surja Fuera
            | o en relación con el software y el uso u otros negocios en el software.

          p(class="lead") 
            | Este Acuerdo de Licencia de Usuario Final se aplica a todos los servicios, contenidos,
            | Juegos y productos en línea, y puede incorporarse a otros términos de uso adicionales
            | específicos del Juego cuando los licenciadores así lo decidan.

          br
          
          .div-direcho(style="float: right;")
            p LICENCIA RESPALDADA POR OPOINF.COM
            b CEO Y FUNDADOR 
            span ING. FRANCISCO ORDOÑEZ
            br
            b COLABORADOR Y CO-FUNDADOR 
            span LIC. ADRIAN MARTINEZ
