<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>scrollTop demo</title>
  <style>
    
  </style>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    
    <div class="demo"><h1>lalala</h1><p>Hello</p></div>
    
    <script src="/js/testing.js"></script>
    
</body>
</html>